<h1>Find the optimal combination of quality and cost in your healthcare options</h1>
<p>The size of the circle corresponds with quality.</p>
<p>The color of the circle corresponds with cost.</p>

<%= render "show_map" %>
